.albumSliderContainer{  
  max-height: 300px;
  margin: 3rem 0 4rem 0;
}
.albumSliderContainer h1{  
  margin-bottom: 2rem;
}
.cardsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  color: var(--color-primary);
  overflow: scroll;
  gap: 1rem;
}

.albumCard{
  width: 100%;
  height: 8rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--color-primary-orange);
}

.albumCard:hover{
  cursor: pointer;
}

.albumCard .albumTitle{
  color: var(--color-primary-floor);
  text-shadow: 2px 2px 5px black;
  
}
